* {
  --green: green;
  --title: 'roboto';
}
body {
  margin: 0;
  padding: 0;
  font-family: roboto, calibri;
  background-color: white;
  color: black;
}

.container {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: 
  "header"
  "main"
  "footer";
}
/*HEADER---------------------------------------------------------------*/
header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}


header {
  border: 1px solid #1f1f1f;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 5px #1f1f1f;
  position: sticky;
  top: 0;
  background-color: #1f1f1f;
  padding-left: 20px 5px 5px 70px;
}
.logo {
  flex: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 70px;
  text-decoration: none;
  color: white;
  
}
.logo::after {
  content: "Technical Support";
  margin-left: 10px;
  font-family: caveat;
  font-size: small;
  font-weight: 700;
  text-transform: capitalize;
  color: #80f2e7;
}

.navbar {
 flex: 1;
 text-align: right;
 margin-right: 70px;
 align-items: center;
}

.navbar li{
  display: inline-block;
  margin-right: 20px;
}
.navbar li a{
 text-decoration: none;
 color: white;
 transition: all 1s ease-in-out;
 padding: 5px;
}
.navbar li a:hover{
  color: #80f2e7;
 }


/*MAIN--------------------------------------------------------------------------*/
main {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: all 0.5s ease;
}

.article {
  display: flex;
  gap: 50px;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 70px;
}

.article-img {
  flex: 1;
  margin-left: 70px;
}
.article-img img {
  max-width: 85%;
  max-height: 100%;
  background-size: contain;  
  border-radius: 500px;
  margin-top: 50px;
}

.article-desc {
  flex:1;
  display: flex;
  padding: 40px;
  font-size: 18px;
}

@media only screen and (max-width: 767px){
  .article {
    display:block;
    margin: 10px 70px;
  }
  header{
    display: inline;
    text-align: center;
  }
  .navbar {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .section-about {
    display: block;
  }  
}

section {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 100px 70px;
  
}

.section-about {
  background: #1f1f1f;
  color: white;
  background-image: linear-gradient(to bottom right, #1f1f1f,#1f1f1f, #363636);
  display: flex;
}

.card-hero-title {
  flex: 2;
}

.hero-title {
  font-size: 56px;
  font-family: "Alfa Slab One", Roboto, calibri;
  font-weight: 300;
  padding: 10px;
}

.hero-image {
  width: 500px;
  border-radius: 250px;
}

.button {
  padding: 15px 50px;
  background-color: #80f2e7;
  color: #1f1f1f;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}
.button:hover {
  background: #1f1f1f;
  color: #80f2e7;
  cusrsor: pointer;
}

::selection {
  color: green;
}

.section-education {
  text-align: center;
  line-height: 30px;
  background-color: #1f1f1f;
  border-radius: 30px;
  margin: 100px 70px;
  width: auto;
  color: white;
  position: relative;
}
.section-education img {
  width: 80px;
  height: auto;
  border-radius: 100px;
  transition: all 1s ease-in-out;
  background-color: white;
  padding: 10px;
  position: absolute;
  top: -48px;
}
.section-education img:hover {
  transform: rotate(15deg);
}
.school {
  font-weight: 300;
}

.section-contact {
  background: #1f1f1f;
  background-image: linear-gradient(to bottom right, #1f1f1f,#1f1f1f, #363636);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.section-contact > ul {
  list-style-type: none;
}

/*FOOTER--------------------------------------------------------------------------*/
footer {
  background-color: white;
  color: black;
  padding: 10px;
  text-align: center;
}
